<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
    <div class="indicator">
      <i class="material-symbols-outlined">notifications</i>
      @if (unreadCount() > 0) {
        <span class="badge badge-xs badge-primary indicator-item px-0 aspect-square">{{ unreadCount() }}</span>
      }
    </div>
  </div>
  <ul
    tabindex="0"
    class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-4 sm:w-80 p-2 shadow-md space-y-1 w-[70vw]"
  >
    <div class="px-2 py-1.5 text-base text-primary font-semibold">Notificaciones</div>
    <hr />

    @for (notification of notifications().slice(0, 3); track notification.id) {
      <li class="" (click)="handleNotificationClick(notification)">
        <div class="flex flex-col items-start gap-1">
          <div class="flex items-center gap-2">
            <p class="font-medium text-sm">
              {{ notification.title }}
            </p>
            @if (!notification.read) {
              <span class="w-2 h-2 aspect-square rounded-full bg-primary"></span>
            }
          </div>
          <p class="text-xs opacity-80">{{ notification.message }}</p>
          <relative-time
            class="text-xs opacity-80"
            datetime="{{ notification.createdAt }}"
            tense="past"
          ></relative-time>
        </div>
      </li>
    } @empty {
      <li>
        <p class="justify-center">No hay notificaciones</p>
      </li>
    }

    <hr />
    <li><a class="justify-center" [routerLink]="['/app/notifications']">Ver todas las notificaciones</a></li>
  </ul>
</div>
