@if (keycloakService.isAuthenticated()) {
  <router-outlet />
} @else {
  <main class="flex flex-col items-center justify-center h-screen w-screen">
    <app-theme-controller />

    <div class="card bg-primary text-primary-content m-4 px-12">
      <div class="card-body items-center text-center">
        <i class="material-symbols-outlined !text-8xl max-w-36 overflow-hidden">network_intelligence</i>
        <h2 class="card-title text-3xl font-semibold">KJO Mind Care</h2>
        <p class="text-xl">
          Bienestar mental está a su alcance.
        </p>
        <div class="card-actions flex-col w-full mt-3 gap-1">
          @if (keycloakService.isLoading()) {
            <button (click)="login()" class="btn w-full btn-primary">
              <span class="loading loading-spinner"></span>
            </button>
          } @else {
            <button (click)="login()" class="btn w-full btn-primary">Iniciar sesión</button>
            <button (click)="register()" class="btn w-full btn-primary btn-link py-0">Registrarme</button>
          }
        </div>
      </div>
    </div>
  </main>
}

<app-toast></app-toast>
